# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
*.env
*.venv
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Django
db.sqlite3
media/
staticfiles/
local_settings.py

# VSCode
.vscode/

# MacOS
.DS_Store

# Linux
*~

# Test/coverage
htmlcov/
.coverage
.tox/
.nox/
.cache/
.pytest_cache/
.coverage.*

# Migrations (optional, if you want to ignore generated migrations)
# users/migrations/
# locations/migrations/

# Environment variables
.env
.env.*

# Jupyter Notebook
.ipynb_checkpoints/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Other
*.swp
